body {
  background: hotpink;
  color: rgb(250, 244, 186);
  padding: 2em;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.title {
  margin: 0;
  font-size: 5em;
  text-shadow: 0.07em 0.07em 0px rgba(0, 0, 0, 0.3);
  letter-spacing: -0.01em;
}

.status {
  margin: 0.6em 0;
  font-size: 2.3em;
  letter-spacing: -0.01em;
  text-shadow: 0.07em 0.07em 0px rgba(0, 0, 0, 0.3);
}

.board {
  font-size: 3em;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

.board.full {
  position: relative;
}

.board.full::after {
  position: absolute;
  font-size: 0.7em;
  text-align: center;
  padding-top: 45%;
  height: 100%;
  width: 100%;
  font-weight: bold;
  background: rgba(255, 105, 180, 0.7);
  text-shadow: 0.07em 0.07em 0px rgba(0, 0, 0, 0.5);
  content: "Click to Start again";
  cursor: pointer;
}

.board-cell {
  flex: 1 0 33%;
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  border: 3px solid hotpink;
  background: rgba(255, 250, 205, 0.338);
}

.available {
  cursor: pointer;
}

.available:hover {
  transition: all 0.2s linear;
  background: rgba(255, 250, 205, 0.75);
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.victory-list {
  font-weight: bold;
  line-height: 1.5em;
  list-style: none;
  padding: 0;
  flex: 1 0 auto;
}

.victory {
  flex: 1 0 auto;
  padding-left: 2em;
}
